<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Jamie F Olson: Problem Solver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Silvery and sleek.">
    <meta name="author" content="Thomas Park">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
</head>